.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header{
	background-color: #6A6A6A; 
}

.barra{
	animation-name: desplegar-fondo; 
	animation-duration: 3s; 
	animation-fill-mode: forwards;
	width: 100%
	
}

.boton{
	animation-name: desplegar-boton; 
	animation-duration: 3s; 
	animation-fill-mode: forwards;
	border-color: #4a4a4a; 
	color: #4a4a4a;
}

@keyframes desplegar-boton{
	from{height: 0px; background-color: #4a4a4a}
	to{height: 50px; background-color: #00d1b2;}
}

@keyframes desplegar-fondo{
	from{height: 0px; background-color: #4a4a4a}
	to{height: 200px; background-color: #a2a2a2}
}
